<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Waste Allplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.rcpit.data.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerveh</display-name>
    <servlet-name>Registerveh</servlet-name>
    <servlet-class>com.rcpit.data.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerveh</servlet-name>
    <url-pattern>/Registerveh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterVeh</display-name>
    <servlet-name>RegisterVeh</servlet-name>
    <servlet-class>com.rcpit.data.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterVeh</servlet-name>
    <url-pattern>/RegisterVeh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.rcpit.data.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.rcpit.data.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegister</display-name>
    <servlet-name>URegister</servlet-name>
    <servlet-class>com.rcpit.data.URegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegister</servlet-name>
    <url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.rcpit.data.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rcnd</display-name>
    <servlet-name>Rcnd</servlet-name>
    <servlet-class>com.rcpit.data.Rcnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rcnd</servlet-name>
    <url-pattern>/Rcnd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVeh</display-name>
    <servlet-name>UpdateVeh</servlet-name>
    <servlet-class>com.rcpit.data.UpdateVeh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVeh</servlet-name>
    <url-pattern>/UpdateVeh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>photo</display-name>
    <servlet-name>photo</servlet-name>
    <servlet-class>com.rcpit.data.photo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photo</servlet-name>
    <url-pattern>/photo</url-pattern>
  </servlet-mapping>
</web-app>